<div class='container px-5 px-sm-0'>
  <%= render 'error_messages', object: @new_book %>

	<div class='row'>
	  <%= render 'leftbox', user: current_user, book: @new_book %>
	  <div class='col-md-8 offset-md-1'>
	    <h2>Users</h2>
	    <table class='table table-hover table-inverse'>
	      <thead>
	        <tr>
	          <th>image</th>
            <th></th>
	          <th>name</th>
	          <th></th>
	          <th></th>
            <th></th>
            <th></th>
	        </tr>
	      </thead>

	      <tbody>
				  <% @users.each do |user| %>
						<tr>
						  <td>
                <%= image_tag user.get_image, size:"80x80" %>
              </td>
              <td></td>
						  <td><%= user.name %></td>
              <td></td>
              <td></td>
							<td><%= link_to "Show", user_path(user) %></td>
              <td></td>
						</tr>
					<% end %>
				</tbody>
	    </table>
	  </div>
	</div>
</div>