<div class='container px-5 px-sm-0'>
  <%= render 'error_messages', object: @new_book %>

	<div class='row'>
	  <%= render 'leftbox', user: @user, book: @new_book %>
    <div class='col-md-8 offset-md-1'>
	    <h2>Book detail</h2>
			<table class='table'>
        <colgroup>
				  <% if @user == current_user %>
            <col style="width: 28%;">  <%# 画像の列 %>
            <col style="width: 18%;">  <%# Titleの列 %>
            <col style="width: 18%;">  <%# Opinionの列 %>
					  <col style="width: 18%;" > <%# editの列 %>
						<col style="width: 18%;" > <%# Destroyの列 %>
					<% else %>
					  <col style="width: 10%;">  <%# 画像の列 %>
            <col style="width: 30%;">  <%# Titleの列 %>
            <col style="width: 60%;">  <%# Opinionの列 %>
					<% end %>
        </colgroup>

	      <tbody>
					<tr>
						<td>
              <%= image_tag @user.get_image, size:"100x100" %><br>
							<%= link_to @user.name, user_path(@user) %>
            </td>
						<td>
						  <%= link_to @book.title, book_path(@book) %>
            </td>
						<td>
						  <%= @book.body %>
						</td>

						<% if @user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
              </td>
							<td>
                <%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger" %>
              </td>
            <% end %>
					</tr>
				</tbody>
	    </table>
	  </div>
	</div>
</div>